<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.tosc.bookd" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".ApplicationWrapper"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".topactivities.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.tosc.bookd.MainActivity" />
        </activity>
        <activity
            android:name=".topactivities.LibraryActivity"
            android:label="@string/title_activity_library"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.tosc.bookd.MainActivity" />
        </activity>
        <activity
            android:name=".topactivities.CreditsActivity"
            android:label="@string/title_activity_credits"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.tosc.bookd.MainActivity" />
        </activity>
        <activity
            android:name=".topactivities.OrdersActivity"
            android:label="@string/title_activity_orders"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.tosc.bookd.MainActivity" />
        </activity>
        <activity
            android:name=".signon.SignOnActivity"
            android:label="@string/title_activity_sign_on"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SignON">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".utilactivities.ScannerActivity"
            android:label="Scanner" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".topactivities.WishlistActivity"
            android:label="@string/title_activity_wishlist"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.tosc.bookd.MainActivity" />
        </activity>
        <activity
            android:name=".utilactivities.AddBookLibraryActivity"
            android:label="@string/title_activity_add_book_library"
            android:parentActivityName=".topactivities.LibraryActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.tosc.bookd.topactivities.LibraryActivity" />
        </activity>
        <activity
            android:name=".utilactivities.AddBookWishlistActivity"
            android:label="@string/title_activity_add_book_wishlist"
            android:parentActivityName=".topactivities.WishlistActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.tosc.bookd.topactivities.WishlistActivity" />
        </activity>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

    </application>

</manifest>
